doctype html
html
  head
    title Nature
    meta(name="description", content="Nature Web Site which is made with PUG // SCSS")
    link(rel="stylesheet", href="style.css")
  body
    .header
      .links
        a(href="/") Home
        a(href="/locations") Locations
        a(href="/events") Events
      .text
        h2 Nature Run