doctype html
html
  head
    title Nature
    meta(name="description", content="Nature Web Site which is made with PUG // SCSS")
    link(rel="stylesheet", href="style.css")
  body
    .header
      .links
        a(href="/") Home
        a(href="/locations") Locations
        a(href="/events") Events
      .text
        h2 Nature
  // End of HEADER
  // Start of section ONE
  section#one
    .container
      .text
        h2 Landscapes of nature
      .boxes
        .box#one
          h2 There you can see a brige who have almost 1000 years ago
        .box#two
          h2 There you can see a tree that grew excessively
        .box#three
          h2 Here you can see a waterfall that is almost 500 years old
  // End of section ONE
  // Start of section TWO
  section#two
  // End of section two