doctype html
html
  head
    title Nature
    meta(name="description", content="Nature Web Site which is made with PUG // SCSS")
    link(rel="stylesheet", href="style.css")
  body
    .header
      #menu
      h1 Furnicarul
      span
      .links
        a(href="/") Home
        a(href="/locations") Locations
        a(href="/events") Events
      .arrow
        #chevron-arrow-left
  // End of HEADER
  // Start of section ONE
  section#one
    .end
    .container
      .text
        h2 Landscapes of nature
      .boxes
        .box#one
          h2 There you can see a brige who have almost 1000 years ago
        .box#two
          h2 There you can see a tree that grew excessively
        .box#three
          h2 Here you can see a waterfall that is almost 500 years old
  // End of section ONE
  // Start of section TWO
  section#two
    .text-box
      .box
        h1 About Nature
        a(href="https://www.nature.com/nature/about" target="_blank") Nature Documentary
        h1 Event
        a(href="/event") New Event Comming
  // End of section two
  // Start of section THREE
  section#three
    .content
      a(href="#menu") Scroll to menu or keep reading!
      h2 Nature is a weekly international journal publishing the finest peer-reviewed research in all fields of science and technology on the basis of its originality, importance, interdisciplinary interest, timeliness, accessibility, elegance and surprising conclusions. Nature also provides rapid, authoritative, insightful and arresting news and interpretation of topical and coming trends affecting science, scientists and the wider public.
      h2 First, to serve scientists through prompt publication of significant advances in any branch of science, and to provide a forum for the reporting and discussion of news and issues concerning science. Second, to ensure that the results of science are rapidly disseminated to the public throughout the world, in a fashion that conveys their significance for knowledge, culture and daily life. Nature's original mission statement was published for the first time on 11 November 1869.
  // End of section THREE