@import 'reset';
@import '_component/layout/typography';

:root {
  --color-red: #e02626;
  --color-white: #fff;
  --color-black: #000;
}

body {
  width: 100%;
}

* {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.header {
  height: 85vh;
  width: 100%;
  background-image: url("asset/image/forest.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  span {
    height: 10px;
    color: red;
  }
  h1 {
    color: var(--color-white);
    font-size: 3.5rem;
    padding: 40px;
    background-color: #5C5555;
  }
  .links {
    font-size: 3.3rem;
    padding-top: 13rem;
    }
    :hover {
      color: var(--color-white);
    }
    a {
      color: var(--color-white);
      text-decoration: none;
      text-align: center;
      justify-content: center;
      padding-left: 5.7rem;
      padding-right: 20px;
      letter-spacing: 6px;
      // border: 3px ;
      border-radius: 20px;
      font-size: 3.6rem;
    }
  }

section#one .end {
  height: 8vh;
  background-color: #5C5555;
}

section#one {
  // height: 70vh;
  width: 100%;
}

body .header #chevron-arrow-left {
  display: inline-block;
  border-right: 5px solid white;
  border-bottom: 5px solid white;
  width: 55px; height: 55px;
  transform: rotate(45deg);
  animation: 2s arrow infinite ease;
}

@keyframes arrow {
  0% {
    transform: translateY(25px);
  }
  25% {
    transform: translateY(-25px);
  }
  50% {
    transform: translateY(25px);
  }
  75% {
    transform: translateY(-25px);
  }
  100% {
    transform: translateY(25px);
  }
}

body .header .arrow {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}